header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

body {
    padding: 70px 0px 0px 0px;
    z-index: 9998;
}

.Contents {
    background-color: #99cc00;
    position: fixed;
    width: 100%;
    overflow: auto;
}

.main {
    padding: 80px 0px 0px 0px;
    width: 100%;
    overflow: auto;
}

.day_height {
    padding: 5px;
}

.show-button{
    display: inline-block;
    cursor: pointer;
}
.show-button:hover{
    background: black;
    color: white;
    transition: .3s;
}
.hide-area{
    display: none;
}
